.newsListWrp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsList {
  margin-bottom: 2rem;
}
.resultsText {
  margin-bottom: 1rem;
  text-decoration: underline dotted 1px;
}
